*{
    font-family: sans-serif;
    /* width: 100%; */
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #7e7eb39d;
    /* width: 100%; */
    /* height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.logo {
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin-bottom: 24px ;

}


.logoTecon {
    justify-content: left;
    align-items: left;
    max-width: 290px;
    margin-top: 15px;
    margin-bottom: 100px ;
    margin-left: 15px;

}

.geradorSenhaTitulo {
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #FFF;
    padding-bottom: 15px;
    
    
}
.geradorSenha {
    border: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    color: #FFF;
    
}


.container-input {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.container-input span {
    color: #FFF;
    font-size: 22px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background:#DFDFDF ;
    height: 18px;
    outline: none;
    margin-top: 8px;
}

.button-cta {
    height: 40px;
    background-color: #ea6900c4;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    color: #FFF;
    font-weight:bold ;
    font-size: 18px;
    width: 100%;

}

.container-password {
    max-width: 250px;   
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor:pointer
}

.title{
    text-align: center;
    color: rgb(248, 248, 248);
    font-size:20px;
    margin-top: 15px;
    margin-bottom: 8px;
}

.div-password {

    margin-left: 15px;
    margin-right: 15px;
    height: 60px;
    background-color: rgb(0,0,0, 0.40);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #313131;
    transition: transform 0.3s;
}

.password {
    margin-left: 15px;
    margin-right: 15px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}


.div-password:hover {
    transform: scale(1.05);
}

.tooltip {
    color:#fff;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background: #ea690080;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}

.hide{
    display: none;
}

.container-password:hover .tooltip {
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}


.footer {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}
